*{
    margin: 0px;
    padding: 0px;
}

.nav{
    display: flex;
    height: 60px;
    background-color: rgb(49, 49, 49);
    align-items: center;
    padding: 0px 20px;
    justify-content: space-between;
    font-family: sans-serif;
}

.nav-title {
    color: white;
    font-weight: lighter;
}

.nav-links{
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 30%;
    justify-content: space-between;
}

.nav-links a{
    color: gray;
    text-decoration: none;
}

a.active{
    color:white
}

.btn{
    color: white;
    background-color: turquoise;
    height: 30px;
    width: 90px;
    border: 3px solid black;
    box-shadow: 3px 3px black;
    font-weight: bold;
}
